<div id="techSecAEditor" class="techSecAEditor" style="display:none;">
    <div class="Services">
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/techSecC/techSecC/box1" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Service 1</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- techSecC.box1.title %>">
                <textarea name="content" placeholder="Write a message"><%- techSecC.box1.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/techSecC/techSecC/box2" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Service 2</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- techSecC.box2.title %>">
                <textarea name="content" placeholder="Write a message"><%- techSecC.box2.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/techSecC/techSecC/box3" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Service 3</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- techSecC.box3.title %>">
                <textarea name="content" placeholder="Write a message"><%- techSecC.box3.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/techSecC/techSecC/box4" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Service 4</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- techSecC.box4.title %>">
                <textarea name="content" placeholder="Write a message"><%- techSecC.box4.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/techSecC/techSecC/box5" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Service 5</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- techSecC.box5.title %>">
                <textarea name="content" placeholder="Write a message"><%- techSecC.box5.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/techSecC/techSecC/box6" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Service 6</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- techSecC.box6.title %>">
                <textarea name="content" placeholder="Write a message"><%- techSecC.box6.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
        <div class="contact-one__right wow slideInRight slide2" data-wow-delay="100ms"
            data-wow-duration="2500ms">
            <form action="/admin/techSecC/techSecC/box7" method="post"
                class="contact-one__right-form">
                <label for="slide2-title">Service 7</label>
                <input type="text" id="slide2-title" placeholder="Your name" name="title" value="<%- techSecC.box7.title %>">
                <textarea name="content" placeholder="Write a message"><%- techSecC.box7.content %></textarea>
                <button type="submit" class="thm-btn contact-one__btn">Update</button>
            </form>
        </div>
    </div>
</div>