<%- include('partials/header') %>


<body>
    <%- include('partials/navbar') %>


		<!--Page Header Start-->
		<section class="page-header">
			<div class="page-header-bg" style="background-image: url(assets/images/backgrounds/page-header-bg4.webp)">
			</div>
			<div class="page-header-border"></div>
			<div class="page-header-border page-header-border-two"></div>
			<div class="page-header-border page-header-border-three"></div>
			<div class="page-header-border page-header-border-four"></div>
			<div class="page-header-border page-header-border-five"></div>
			<div class="page-header-border page-header-border-six"></div>

			<div class="page-header-shape-1"></div>
			<div class="page-header-shape-2"></div>
			<div class="page-header-shape-3"></div>

			<div class="container">
				<div class="page-header__inner">
					<!-- <ul class="thm-breadcrumb list-unstyled">
						<li><a href="index.html">Home</a></li>
						<li><a href="services.html">Services</a></li>
						<li>services Details</li>
					</ul> -->
					<h2>General Industries </h2>
				</div>
			</div>
		</section>
		<!--Page Header End-->

		<!--Service Details Start-->
		<section class="service-details">
			<div class="container">
				<div class="row">
					<div class="col-xl-4 col-lg-5">
						<div class="service-details__sidebar">
							<div class="service-details__need-help">
								<div class="service-details__need-help-bg"
									style="background-image: url(assets/images/backgrounds/service-details-need-help-bg.jpg)">
								</div>
								<div class="service-details__need-help-icon">
									<span class="icon-chatting"></span>
								</div>
								<h2 class="service-details__need-help-title">Best Quality <br> services</h2>
							</div>
							<div class="service-details__download">
								<a href="/download-brochure" class="service-details__download-btn">Download our broucher</a>
							</div>
						</div>
					</div>
					<div class="col-xl-8 col-lg-7">
						<div class="service-details__right">
							<div class="service-details__content">
								<h2 class="service-details__title">1.<%- generalIndustriesServices.box1.title %></h2>
								<p class="service-details__text-1"><%- generalIndustriesServices.box1.content %></p>
								<div class="service-details__img"><img src="assets/images/resources/gi_img_1.jpeg" alt=""></div>
							</div>
							<br>
							<div class="service-details__content">
								<h2 class="service-details__title">2.<%- generalIndustriesServices.box2.title %></h2>
								<p class="service-details__text-1"><%- generalIndustriesServices.box2.content %></p>
								<div class="service-details__img"><img src="assets/images/resources/gi_img_2.jpeg" alt=""></div>
							</div>
							<br>
							<div class="service-details__content">
								<h2 class="service-details__title">3.<%- generalIndustriesServices.box3.title %></h2>
								<p class="service-details__text-1"><%- generalIndustriesServices.box3.content %></p>
								<div class="service-details__img"><img src="assets/images/resources/gi_img_3.jpeg" alt=""></div>
							</div>
							<br>
							<div class="service-details__content">
								<h2 class="service-details__title">3.Solar Power</h2>
								<p class="service-details__text-1"> We're committed to a sustainable future. We offer comprehensive solar power solutions, including installation, maintenance, and system integration, allowing you to harness renewable energy and reduce your carbon footprint.</p>
								<div class="service-details__img"><img src="assets/images/resources/gi_img_4.jpeg" alt=""></div>
							</div>
								
							
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Service Details End-->
		        <!--Similar Work Start-->
				<section class="similar-work">
					<div class="container">
						<div class="section-title text-center">
							<span class="section-title__tagline">Waste Water Treatment</span>
							<h2 class="section-title__title">Categories</h2>
						</div>
						<div class="row">
							<div class="col-xl-3 col-lg-3">
								<!--Portfolio One Single-->
								<div class="project-one__single">
									<div class="project-one__img">
										<img src="assets/images/resources/project-page-img-4.jpg" alt="">
										<div class="project-one__hover">
											<p class="project-one__tagline">Water Treatment</p>
											<h3 class="project-one__title"><a href="project-details.html">Sewage Treatment Plant</a>
											</h3>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-3">
								<!--Portfolio One Single-->
								<div class="project-one__single">
									<div class="project-one__img">
										<img src="assets/images/resources/project-page-img-6.jpg" alt="">
										<div class="project-one__hover">
											<p class="project-one__tagline">Water Treatment</p>
											<h3 class="project-one__title"><a href="/project">Recycling Plant</a>
											</h3>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4">
								<!--Portfolio One Single-->
								<div class="project-one__single">
									<div class="project-one__img">
										<img src="assets/images/resources/project-page-img-5.jpg" alt="">
										<div class="project-one__hover">
											<p class="project-one__tagline">Water Treatment</p>
											<h3 class="project-one__title"><a href="/project">Desalination Plant</a>
											</h3>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4">
								<!--Portfolio One Single-->
								<div class="project-one__single">
									<div class="project-one__img">
										<img src="assets/images/resources/project-page-img-7.jpg" alt="">
										<div class="project-one__hover">
											<p class="project-one__tagline">Water Treatment</p>
											<h3 class="project-one__title"><a href="/project">Sludge Treatment</a>
											</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--Similar Work End-->

				<%- include('partials/footer') %>
