<%- include('partials/header') %>


<body>
    <%- include('partials/navbar') %>


		<!--Page Header Start-->
		<section class="page-header">
			<div class="page-header-bg" style="background-image: url(assets/images/backgrounds/page-header-bg4.webp)">
			</div>
			<div class="page-header-border"></div>
			<div class="page-header-border page-header-border-two"></div>
			<div class="page-header-border page-header-border-three"></div>
			<div class="page-header-border page-header-border-four"></div>
			<div class="page-header-border page-header-border-five"></div>
			<div class="page-header-border page-header-border-six"></div>

			<div class="page-header-shape-1"></div>
			<div class="page-header-shape-2"></div>
			<div class="page-header-shape-3"></div>

			<div class="container">
				<div class="page-header__inner">
					<!-- <ul class="thm-breadcrumb list-unstyled">
						<li><a href="#">Home</a></li>
						<li><a href="#">Services</a></li>
						<li>services Details</li>
					</ul> -->
					<h2>Oils and Gas</h2>
				</div>
			</div>
		</section>
		<!--Page Header End-->

		<!--Service Details Start-->
		<section class="service-details">
			<div class="container">
				<div class="row">
					<div class="col-xl-4 col-lg-5">
						<div class="service-details__sidebar">
							<div class="service-details__need-help">
								<div class="service-details__need-help-bg"
									style="background-image: url(assets/images/backgrounds/service-details-need-help-bg.jpg)">
								</div>
								<div class="service-details__need-help-icon">
									<span class="icon-chatting"></span>
								</div>
								<h2 class="service-details__need-help-title">Best Quality <br> services</h2>
							</div>
							<div class="service-details__download">
								<a href="/download-brochure" class="service-details__download-btn">Download our broucher</a>
							</div>
						</div>
					</div>
					<div class="col-xl-8 col-lg-7">
						<div class="service-details__right">
							<span>Sunmas Group is one of the pioneer contracting company dedicated to the success of your oil and gas projects. We bring a wealth of experience and expertise to every stage of development, from initial planning to ongoing maintenance.
							</span>
							<div class="service-details__content">
								<h2 class="service-details__title">1.<%-oilAndGasServices.box1.title %></h2>
								<p class="service-details__text-1"><%-oilAndGasServices.box1.content %></p>
								<div class="service-details__img"><img src="assets/images/resources/service-details-img-5.jpg" alt=""></div>
							</div>
							<br>
							<div class="service-details__content">
								<h2 class="service-details__title">2.<%-oilAndGasServices.box2.title %></h2>
								<p class="service-details__text-1"><%-oilAndGasServices.box2.content %></p>
								<div class="service-details__img"><img src="assets/images/resources/sludge.jpeg" alt=""></div>
							</div>
							<br>
							<div class="service-details__content">
								<h2 class="service-details__title">3.<%-oilAndGasServices.box3.title %></h2>
								<p class="service-details__text-1"><%-oilAndGasServices.box3.content %></p>
								<div class="service-details__img"><img src="assets/images/resources/Recycle.jpeg" alt=""></div>
							</div>
							<br>
							<div class="service-details__content">
								<h2 class="service-details__title">3.Shutdown and Turnaround Maintenance</h2>
								<p class="service-details__text-1">: We understand the critical nature of shutdowns and turnarounds. We have a proven track record of safely and efficiently executing these events, minimizing downtime and ensuring a smooth restart.
									<div class="service-details__img"><img src="assets/images/resources/shutdown.jpeg" alt=""></div>
								</p>
							</div>
								
							
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Service Details End-->
		        <!--Similar Work Start-->
				<section class="similar-work">
					<div class="container">
						<div class="section-title text-center">
							<span class="section-title__tagline">Waste Water Treatment</span>
							<h2 class="section-title__title">Categories</h2>
						</div>
						<div class="row">
							<div class="col-xl-3 col-lg-3">
								<!--Portfolio One Single-->
								<div class="project-one__single">
									<div class="project-one__img">
										<img src="assets/images/resources/project-page-img-4.jpg" alt="">
										<div class="project-one__hover">
											<p class="project-one__tagline">Water Treatment</p>
											<h3 class="project-one__title"><a href="project-details.html">Sewage Treatment Plant</a>
											</h3>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-3">
								<!--Portfolio One Single-->
								<div class="project-one__single">
									<div class="project-one__img">
										<img src="assets/images/resources/project-page-img-6.jpg" alt="">
										<div class="project-one__hover">
											<p class="project-one__tagline">Water Treatment</p>
											<h3 class="project-one__title"><a href="/project">Recycling Plant</a>
											</h3>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4">
								<!--Portfolio One Single-->
								<div class="project-one__single">
									<div class="project-one__img">
										<img src="assets/images/resources/project-page-img-5.jpg" alt="">
										<div class="project-one__hover">
											<p class="project-one__tagline">Water Treatment</p>
											<h3 class="project-one__title"><a href="/project">Desalination Plant</a>
											</h3>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4">
								<!--Portfolio One Single-->
								<div class="project-one__single">
									<div class="project-one__img">
										<img src="assets/images/resources/project-page-img-7.jpg" alt="">
										<div class="project-one__hover">
											<p class="project-one__tagline">Water Treatment</p>
											<h3 class="project-one__title"><a href="/project">Sludge Treatment</a>
											</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--Similar Work End-->

				<%- include('partials/footer') %>
